<!-- start of category-section -->
<section class="category-section section-padding">
  <div class="container">
    <div class="category-wrap">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-12">
          <div class="category-img">
            <img src="{{ '1.jpg' |  asset_url }}" alt="">
            <a href="collection.html">
              <div class="top-text">
                <h3>Tops</h3>
                <button class="theme-btn-s2" href="shop.html">Shop now</button>
              </div>
            </a>
            <div class="bottom-text">
              <a href="shop.html">Tops</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <div class="category-img">
            <img src="{{ '2.jpg' |  asset_url }}" alt="">
            <a href="collection.html">
              <div class="top-text">
                <h3>Outwear</h3>
                <button class="theme-btn-s2" href="shop.html">Shop now</button>
              </div>
            </a>
            <div class="bottom-text">
              <a href="shop.html">Outwear</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="category-img">
            <img src="{{ '3.jpg' |  asset_url }}" alt="">
            <a href="collection.html">
              <div class="top-text">
                <h3>Dresses</h3>
                <button class="theme-btn-s2" href="shop.html">Shop now</button>
              </div>
            </a>
            <div class="bottom-text">
              <a href="shop.html">Dresses</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of category-section -->
