<!-- start of category-section -->
<section class="category-section style-2 section-padding">
  <div class="container">
    <div class="category-wrap">
      <div class="category-img">
        <img src="assets/images/category/4.jpg" alt="">
        <a href="collection.html">
          <div class="top-text">
            <h3>Bottoms</h3>
            <button class="theme-btn-s2" href="shop.html">Shop now</button>
          </div>
        </a>
        <div class="bottom-text">
          <a href="shop.html">Bottoms</a>
        </div>
      </div>
      <div class="category-img">
        <img src="assets/images/category/5.jpg" alt="">
        <a href="collection.html">
          <div class="top-text">
            <h3>Sets</h3>
            <button class="theme-btn-s2" href="shop.html">Shop now</button>
          </div>
        </a>
        <div class="bottom-text">
          <a href="shop.html">Sets</a>
        </div>
      </div>
      <div class="category-img">
        <img src="assets/images/category/6.jpg" alt="">
        <a href="collection.html">
          <div class="top-text">
            <h3>Accessories</h3>
            <button class="theme-btn-s2" href="shop.html">Shop now</button>
          </div>
        </a>
        <div class="bottom-text">
          <a href="shop.html">Accessories</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of category-section -->
