<!-- start of site-footer-section -->
<footer class="site-footer">
  <div class="upper-footer">
    <div class="container">
      <div class="row">
        <div class="col col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="widget newsletter-widget">
            <div class="widget-title">
              <h3>Join our VIP Mailing List</h3>
            </div>
            <p>
              We'll only send you the good stuff. (including $10 off your first order, latest style updates, plus VIP
              early access to our sales)
            </p>
            <form>
              <div class="input-1">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Your Email Address..."
                  required=""
                >
              </div>
              <div class="submit clearfix">
                <button type="submit">SIGN UP</button>
              </div>
            </form>
            <div class="social">
              <ul>
                <li>
                  <a href="#">
                    <img src="assets/images/ft-icon/1.svg" alt="">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="assets/images/ft-icon/2.svg" alt="">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="assets/images/ft-icon/3.svg" alt="">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="assets/images/ft-icon/4.svg" alt="">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="assets/images/ft-icon/5.svg" alt="">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col col-lg-2 offset-lg-1 col-md-6 col-sm-12 col-12">
          <div class="widget link-widget">
            <div class="widget-title">
              <h3>COMPANY</h3>
            </div>
            <ul>
              <li><a href="about.html">About morange</a></li>
              <li><a href="#">Our Values</a></li>
              <li><a href="#">Responsibility</a></li>
              <li><a href="#">Sourcing</a></li>
              <li><a href="#">Blog posts</a></li>
            </ul>
          </div>
        </div>
        <div class="col col-lg-3 col-md-6 col-sm-12 col-12">
          <div class="widget link-widget s2">
            <div class="widget-title">
              <h3>customer service</h3>
            </div>
            <ul>
              <li><a href="about.html">fAQ</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">terms and condition</a></li>
              <li><a href="#">shipping policy</a></li>
              <li><a href="#">return policy</a></li>
            </ul>
          </div>
        </div>
        <div class="col col-lg-2 col-md-6 col-sm-12 col-12">
          <div class="widget link-widget">
            <div class="widget-title">
              <h3>More</h3>
            </div>
            <ul>
              <li><a href="#">Wholesale</a></li>
              <li><a href="#">Affiliate Program</a></li>
              <li><a href="#">Size Guide</a></li>
              <li><a href="#">Meet the fabrics</a></li>
              <li><a href="#">contact us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </div>
  <div class="lower-footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col col-lg-6 col-md-12 col-12">
          <ul>
            <li>&copy; 2023 <a href="#">Morange</a>. All rights reserved.</li>
          </ul>
        </div>
        <div class="col col-lg-6 col-md-12 col-12">
          <div class="link">
            <ul>
              <li>
                <a href="#"><img src="assets/images/ft-icon/6.svg" alt=""></a>
              </li>
              <li>
                <a href="#"><img src="assets/images/ft-icon/7.svg" alt=""></a>
              </li>
              <li>
                <a href="#"><img src="assets/images/ft-icon/8.svg" alt=""></a>
              </li>
              <li>
                <a href="#"><img src="assets/images/ft-icon/9.svg" alt=""></a>
              </li>
              <li>
                <a href="#"><img src="assets/images/ft-icon/10.svg" alt=""></a>
              </li>
              <li>
                <a href="#"><img src="assets/images/ft-icon/11.svg" alt=""></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end of site-footer-section -->
