<!-- Start instagram-section -->
<section class="instagram-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col col-xs-12">
        <div class="instagram-container instagram-slider owl-carousel">
          <div class="grid">
            <div class="instagram-item">
              <a href="blog-single.html">
                <img src="assets/images/instragram/2.jpg" alt class="img img-responsive">
              </a>
            </div>
          </div>
          <div class="grid">
            <div class="instagram-item">
              <a href="blog-single.html">
                <img src="assets/images/instragram/3.jpg" alt class="img img-responsive">
              </a>
            </div>
          </div>
          <div class="grid">
            <div class="instagram-item">
              <a href="blog-single.html">
                <img src="assets/images/instragram/4.jpg" alt class="img img-responsive">
              </a>
            </div>
          </div>
          <div class="grid">
            <div class="instagram-item">
              <a href="blog-single.html">
                <img src="assets/images/instragram/5.jpg" alt class="img img-responsive">
              </a>
            </div>
          </div>
          <div class="grid">
            <div class="instagram-item">
              <a href="blog-single.html">
                <img src="assets/images/instragram/1.jpg" alt class="img img-responsive">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <div class="instagram-middle-text">
    <span><i class="fi flaticon-instagram"></i>Morange</span>
  </div>
</section>
<!-- End instagram-section -->
