<!-- start of product-arrival-section -->
<section class="product-arrival-section section-padding pt-0">
  <div class="container">
    <div class="product-arrival-wrap">
      <div class="row">
        <div class="col-lg-7">
          <div class="product-arrival-img">
            <img src="assets/images/banner.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-5">
          <div class="product-arrival-text">
            <small>New Arrival</small>
            <h2>Winter <span>Collection</span></h2>
            <p>
              Lorem ipsum is simply dummy text of the printing typesetting industry. Lorem ipsum has been standard dummy
              text. Lorem ipsum has been standard.
            </p>
            <a href="#">Discover Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of product-section -->
{% schema %}
{
  "name": "Winter Collection",
  "settings": [
    {
      "type": "text",
      "id": "winter_slug",
      "label": "Winter Slug",
      "default": "New Arrival"
    },
    {
      "type": "text",
      "id": "winter_title",
      "label": "Winter Title",
      "default": "WINTER Collection"
    },
    {
      "type": "text",
      "id": "winter_descripiton",
      "label": "Winter Description",
      "default": "Lorem ipsum is simply dummy text of the printing typesetting industry. Lorem ipsum has been standard dummy text. Lorem ipsum has been standard."
    },
    {
      "type": "text",
      "id": "winter_button_text",
      "label": "Button Text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "banner_button_url",
      "label": "Button Link"
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    }
  ],

  "presets": [
    {
      "name": "Winter Collection"
    }
  ]
}
{% endschema %}
