<!-- start of product-section -->
<section class="product-section">
  <div class="container">
    <div class="product-wrap">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-12">
          <div class="product-item">
            <div class="product-image">
              <img src="assets/images/product/5.jpg" alt="">
              <div class="tag">
                <i><img src="assets/images/product/tag.svg" alt=""></i>
                <span>20% off at checkout</span>
              </div>
              <a class="heart" href="shop.html"><i class="fi flaticon-heart"></i></a>
            </div>
            <div class="product-text">
              <div class="color-name">
                <div>
                  <input type="radio" name="color" id="001" class="aggree color1" checked>
                  <span style="margin:5px"></span>
                  <input type="radio" name="color" class="aggree color2">
                  <span style="margin:5px"> </span>
                </div>
              </div>
              <h4><a href="product-single.html">Alejandra</a></h4>
              <ul class="product-text-sub">
                <li>One Shoulder Satin Maxi Dress - Red</li>
                <li class="price">$200.00</li>
              </ul>
              <div class="shop-filter-item size">
                <div class="size-item">
                  <div class="button-group">
                    <input type="radio" id="d1" name="size" class="size1" value="1">
                    <label class="size-btn" for="d1">xxs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="d2" name="size" class="size1" value="1">
                    <label class="size-btn" for="d2">Xs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="d3" name="size" class="size1" value="1">
                    <label class="size-btn" for="d3">X</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="d4" name="size" class="size1" value="1">
                    <label class="size-btn" for="d4">M</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="d5" name="size" class="size1" value="1">
                    <label class="size-btn" for="d5">L</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="d6" name="size" class="size1" value="1">
                    <label class="size-btn" for="d6">XL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="d7" name="size" class="size1" value="1">
                    <label class="size-btn" for="d7">XXL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="d8" name="size" class="size1" value="1">
                    <label class="size-btn" for="d8">3XL</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="product-item">
            <div class="product-image">
              <div class="product-img-slider owl-carousel">
                <img src="assets/images/product/6.jpg" alt="">
                <img src="assets/images/product/7.jpg" alt="">
                <img src="assets/images/product/8.jpg" alt="">
              </div>
              <div class="tag">
                <i><img src="assets/images/product/tag.svg" alt=""></i>
                <span>20% off at checkout</span>
              </div>
              <a class="heart" href="shop.html"><i class="fi flaticon-heart"></i></a>
            </div>
            <div class="product-text">
              <div class="color-name">
                <div>
                  <input type="radio" name="color" id="001" class="aggree color1" checked>
                  <span style="margin:5px"></span>
                  <input type="radio" name="color" class="aggree color2">
                  <span style="margin:5px"> </span>
                </div>
              </div>
              <h4><a href="product-single.html">Alejandra</a></h4>
              <ul class="product-text-sub">
                <li>One Shoulder Satin Maxi Dress - Red</li>
                <li class="price">$200.00</li>
              </ul>
              <div class="shop-filter-item size">
                <div class="size-item">
                  <div class="button-group">
                    <input type="radio" id="e1" name="size" class="size1" value="1">
                    <label class="size-btn" for="e1">xxs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="e2" name="size" class="size1" value="1">
                    <label class="size-btn" for="e2">Xs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="e3" name="size" class="size1" value="1">
                    <label class="size-btn" for="e3">X</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="e4" name="size" class="size1" value="1">
                    <label class="size-btn" for="e4">M</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="e5" name="size" class="size1" value="1">
                    <label class="size-btn" for="e5">L</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="e6" name="size" class="size1" value="1">
                    <label class="size-btn" for="e6">XL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="e7" name="size" class="size1" value="1">
                    <label class="size-btn" for="e7">XXL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="e8" name="size" class="size1" value="1">
                    <label class="size-btn" for="e8">3XL</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="product-item">
            <div class="product-image">
              <img src="assets/images/product/7.jpg" alt="">
              <div class="tag">
                <i><img src="assets/images/product/tag.svg" alt=""></i>
                <span>20% off at checkout</span>
              </div>
              <a class="heart" href="shop.html"><i class="fi flaticon-heart"></i></a>
            </div>
            <div class="product-text">
              <div class="color-name">
                <div>
                  <input type="radio" name="color" id="001" class="aggree color1" checked>
                  <span style="margin:5px"></span>
                  <input type="radio" name="color" class="aggree color2">
                  <span style="margin:5px"> </span>
                </div>
              </div>
              <h4><a href="product-single.html">Alejandra</a></h4>
              <ul class="product-text-sub">
                <li>One Shoulder Satin Maxi Dress - Red</li>
                <li class="price">$200.00</li>
              </ul>
              <div class="shop-filter-item size">
                <div class="size-item">
                  <div class="button-group">
                    <input type="radio" id="f1" name="size" class="size1" value="1">
                    <label class="size-btn" for="f1">xxs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="f2" name="size" class="size1" value="1">
                    <label class="size-btn" for="f2">Xs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="f3" name="size" class="size1" value="1">
                    <label class="size-btn" for="f3">X</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="f4" name="size" class="size1" value="1">
                    <label class="size-btn" for="f4">M</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="f5" name="size" class="size1" value="1">
                    <label class="size-btn" for="f5">L</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="f6" name="size" class="size1" value="1">
                    <label class="size-btn" for="f6">XL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="f7" name="size" class="size1" value="1">
                    <label class="size-btn" for="f7">XXL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="f8" name="size" class="size1" value="1">
                    <label class="size-btn" for="f8">3XL</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="product-item">
            <div class="product-image">
              <img src="assets/images/product/8.jpg" alt="">
              <div class="tag">
                <i><img src="assets/images/product/tag.svg" alt=""></i>
                <span>20% off at checkout</span>
              </div>
              <a class="heart" href="shop.html"><i class="fi flaticon-heart"></i></a>
            </div>
            <div class="product-text">
              <div class="color-name">
                <div>
                  <input type="radio" name="color" id="001" class="aggree color1" checked>
                  <span style="margin:5px"></span>
                  <input type="radio" name="color" class="aggree color2">
                  <span style="margin:5px"> </span>
                </div>
              </div>
              <h4><a href="product-single.html">Alejandra</a></h4>
              <ul class="product-text-sub">
                <li>One Shoulder Satin Maxi Dress - Red</li>
                <li class="price">$200.00</li>
              </ul>
              <div class="shop-filter-item size">
                <div class="size-item">
                  <div class="button-group">
                    <input type="radio" id="g1" name="size" class="size1" value="1">
                    <label class="size-btn" for="g1">xxs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="g2" name="size" class="size1" value="1">
                    <label class="size-btn" for="g2">Xs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="g3" name="size" class="size1" value="1">
                    <label class="size-btn" for="g3">X</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="g4" name="size" class="size1" value="1">
                    <label class="size-btn" for="g4">M</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="g5" name="size" class="size1" value="1">
                    <label class="size-btn" for="g5">L</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="g6" name="size" class="size1" value="1">
                    <label class="size-btn" for="g6">XL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="g7" name="size" class="size1" value="1">
                    <label class="size-btn" for="g7">XXL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="g8" name="size" class="size1" value="1">
                    <label class="size-btn" for="g8">3XL</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of product-section -->
