<!-- start of page-title-section -->
<section
  class="page-title"
  style="background: url({{ 'page-title.jpg' | asset_url }}) no-repeat center center;"
></section>
<!-- end of page-title-section -->
<!-- start of breadcrumbs-section -->
<div class="breadcrumbs-section pt-120">
  <div class="container">
    <ul>
      <li>HOME</li>
      <li>OUTWEAR</li>
    </ul>
    <h3>Outwear</h3>
  </div>
</div>
<!-- end of breadcrumbs-section -->

<!-- fiter -->
<div class="filter-area">
  <div class="container">
    <div class="filter-top">
      <div class="row">
        <div class="col-lg-8">
          <div class="filter-item-wrap">
            <div class="filter-item">
              <select>
                <option value="">Dresses</option>
                <option value="">Tops</option>
                <option value="">Sets</option>
                <option value="">Bottoms</option>
              </select>
            </div>
            <div class="filter-item">
              <select>
                <option value="">Color</option>
                <option value="">Black</option>
                <option value="">White</option>
                <option value="">Red</option>
              </select>
            </div>
            <div class="filter-item">
              <select>
                <option value="">Size</option>
                <option value="">L</option>
                <option value="">M</option>
                <option value="">Xl</option>
                <option value="">XXl</option>
                <option value="">XXXl</option>
              </select>
            </div>
            <div class="filter-item">
              <select>
                <option value="">occasion</option>
                <option value="">occasion</option>
                <option value="">occasion</option>
                <option value="">occasion</option>
              </select>
            </div>
            <div class="filter-item">
              <select>
                <option value="">fabric</option>
                <option value="">fabric</option>
                <option value="">fabric</option>
                <option value="">fabric</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="filter-item-wrap right">
            <div class="filter-item">
              <select>
                <option value="">Featured</option>
                <option value="">Featured</option>
                <option value="">Featured</option>
                <option value="">Featured</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="filter-result">
        <ul>
          <li>OUTWEAR <i class="ti-close"></i></li>
          <li><span class="black" style="background: #000;"></span> bLACK <i class="ti-close"></i></li>
          <li class="clear"><i class="ti-close"></i> clear FILTERS</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- fiter -->

<!-- start of product-section -->
<section class="product-section section-padding pt-0">
  <div class="container">
    <div class="product-wrap style-1 border-0 pb-0">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-12">
          <div class="product-item">
            <div class="product-image">
              <img src="assets/images/product/9.jpg" alt="">
              <div class="tag">
                <i><img src="assets/images/product/tag.svg" alt=""></i>
                <span>20% off at checkout</span>
              </div>
              <a class="heart" href="shop.html"><i class="fi flaticon-heart"></i></a>
              <div class="link">
                <a href="#"
                  ><i><img src="assets/images/product/link.svg" alt=""></i>see similar</a
                >
              </div>
              <div class="link">
                <a href="#"
                  ><i><img src="assets/images/product/link.svg" alt=""></i>see similar</a
                >
              </div>
            </div>
            <div class="product-text">
              <div class="color-name">
                <div>
                  <input type="radio" name="color" id="001" class="aggree color1" checked>
                  <span style="margin:5px"></span>
                  <input type="radio" name="color" class="aggree color2">
                  <span style="margin:5px"> </span>
                </div>
              </div>
              <h4><a href="product-single.html">Alejandra</a></h4>
              <ul class="product-text-sub">
                <li>One Shoulder Satin Maxi Dress - Red</li>
                <li class="price">$200.00</li>
              </ul>
              <ul class="rating">
                <li>
                  <div
                    class="Stars"
                    style="--rating: 4.5;"
                    aria-label="Rating of this product is 2.3 out of 5."
                  ></div>
                </li>
                <li>24 Reviews</li>
              </ul>
              <div class="shop-filter-item size">
                <div class="size-item">
                  <div class="button-group">
                    <input type="radio" id="1" name="size" class="size1" value="1">
                    <label class="size-btn" for="1">xxs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="2" name="size" class="size1" value="1">
                    <label class="size-btn" for="2">Xs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="3" name="size" class="size1" value="1">
                    <label class="size-btn" for="3">X</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="4" name="size" class="size1" value="1">
                    <label class="size-btn" for="4">M</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="5" name="size" class="size1" value="1">
                    <label class="size-btn" for="5">L</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="6" name="size" class="size1" value="1">
                    <label class="size-btn" for="6">XL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="7" name="size" class="size1" value="1">
                    <label class="size-btn" for="7">XXL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="8" name="size" class="size1" value="1">
                    <label class="size-btn" for="8">3XL</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="product-item">
            <div class="product-image">
              <img src="assets/images/product/7.jpg" alt="">
              <div class="tag">
                <i><img src="assets/images/product/tag.svg" alt=""></i>
                <span>20% off at checkout</span>
              </div>
              <a class="heart" href="shop.html"><i class="fi flaticon-heart"></i></a>
              <div class="link">
                <a href="#"
                  ><i><img src="assets/images/product/link.svg" alt=""></i>see similar</a
                >
              </div>
              <div class="link">
                <a href="#"
                  ><i><img src="assets/images/product/link.svg" alt=""></i>see similar</a
                >
              </div>
            </div>
            <div class="product-text">
              <div class="color-name">
                <div>
                  <input type="radio" name="color" id="001" class="aggree color1" checked>
                  <span style="margin:5px"></span>
                  <input type="radio" name="color" class="aggree color2">
                  <span style="margin:5px"> </span>
                </div>
              </div>
              <h4><a href="product-single.html">Alejandra</a></h4>
              <ul class="product-text-sub">
                <li>One Shoulder Satin Maxi Dress - Red</li>
                <li class="price">$200.00</li>
              </ul>
              <ul class="rating">
                <li>
                  <div
                    class="Stars"
                    style="--rating: 4.5;"
                    aria-label="Rating of this product is 2.3 out of 5."
                  ></div>
                </li>
                <li>24 Reviews</li>
              </ul>
              <div class="shop-filter-item size">
                <div class="size-item">
                  <div class="button-group">
                    <input type="radio" id="1" name="size" class="size1" value="1">
                    <label class="size-btn" for="1">xxs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="2" name="size" class="size1" value="1">
                    <label class="size-btn" for="2">Xs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="3" name="size" class="size1" value="1">
                    <label class="size-btn" for="3">X</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="4" name="size" class="size1" value="1">
                    <label class="size-btn" for="4">M</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="5" name="size" class="size1" value="1">
                    <label class="size-btn" for="5">L</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="6" name="size" class="size1" value="1">
                    <label class="size-btn" for="6">XL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="7" name="size" class="size1" value="1">
                    <label class="size-btn" for="7">XXL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="8" name="size" class="size1" value="1">
                    <label class="size-btn" for="8">3XL</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="product-item">
            <div class="product-image">
              <img src="assets/images/product/2.jpg" alt="">
              <div class="tag">
                <i><img src="assets/images/product/tag.svg" alt=""></i>
                <span>20% off at checkout</span>
              </div>
              <a class="heart" href="shop.html"><i class="fi flaticon-heart"></i></a>
              <div class="link">
                <a href="#"
                  ><i><img src="assets/images/product/link.svg" alt=""></i>see similar</a
                >
              </div>
            </div>
            <div class="product-text">
              <div class="color-name">
                <div>
                  <input type="radio" name="color" id="001" class="aggree color1" checked>
                  <span style="margin:5px"></span>
                  <input type="radio" name="color" class="aggree color2">
                  <span style="margin:5px"> </span>
                </div>
              </div>
              <h4><a href="product-single.html">Alejandra</a></h4>
              <ul class="product-text-sub">
                <li>One Shoulder Satin Maxi Dress - Red</li>
                <li class="price">$200.00</li>
              </ul>
              <ul class="rating">
                <li>
                  <div
                    class="Stars"
                    style="--rating: 4.5;"
                    aria-label="Rating of this product is 2.3 out of 5."
                  ></div>
                </li>
                <li>24 Reviews</li>
              </ul>
              <div class="shop-filter-item size">
                <div class="size-item">
                  <div class="button-group">
                    <input type="radio" id="a1" name="size" class="size1" value="1">
                    <label class="size-btn" for="a1">xxs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="a2" name="size" class="size1" value="1">
                    <label class="size-btn" for="a2">Xs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="a3" name="size" class="size1" value="1">
                    <label class="size-btn" for="a3">X</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="a4" name="size" class="size1" value="1">
                    <label class="size-btn" for="a4">M</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="a5" name="size" class="size1" value="1">
                    <label class="size-btn" for="a5">L</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="a6" name="size" class="size1" value="1">
                    <label class="size-btn" for="a6">XL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="a7" name="size" class="size1" value="1">
                    <label class="size-btn" for="a7">XXL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="a8" name="size" class="size1" value="1">
                    <label class="size-btn" for="a8">3XL</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="product-item">
            <div class="product-image">
              <img src="assets/images/product/3.jpg" alt="">
              <div class="tag">
                <i><img src="assets/images/product/tag.svg" alt=""></i>
                <span>20% off at checkout</span>
              </div>
              <a class="heart" href="shop.html"><i class="fi flaticon-heart"></i></a>
              <div class="link">
                <a href="#"
                  ><i><img src="assets/images/product/link.svg" alt=""></i>see similar</a
                >
              </div>
            </div>
            <div class="product-text">
              <div class="color-name">
                <div>
                  <input type="radio" name="color" id="001" class="aggree color1" checked>
                  <span style="margin:5px"></span>
                  <input type="radio" name="color" class="aggree color2">
                  <span style="margin:5px"> </span>
                </div>
              </div>
              <h4><a href="product-single.html">Alejandra</a></h4>
              <ul class="product-text-sub">
                <li>One Shoulder Satin Maxi Dress - Red</li>
                <li class="price">$200.00</li>
              </ul>
              <ul class="rating">
                <li>
                  <div
                    class="Stars"
                    style="--rating: 4.5;"
                    aria-label="Rating of this product is 2.3 out of 5."
                  ></div>
                </li>
                <li>24 Reviews</li>
              </ul>
              <div class="shop-filter-item size">
                <div class="size-item">
                  <div class="button-group">
                    <input type="radio" id="b1" name="size" class="size1" value="1">
                    <label class="size-btn" for="b1">xxs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b2" name="size" class="size1" value="1">
                    <label class="size-btn" for="b2">Xs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b3" name="size" class="size1" value="1">
                    <label class="size-btn" for="b3">X</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b4" name="size" class="size1" value="1">
                    <label class="size-btn" for="b4">M</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b5" name="size" class="size1" value="1">
                    <label class="size-btn" for="b5">L</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b6" name="size" class="size1" value="1">
                    <label class="size-btn" for="b6">XL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b7" name="size" class="size1" value="1">
                    <label class="size-btn" for="b7">XXL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b8" name="size" class="size1" value="1">
                    <label class="size-btn" for="b8">3XL</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="product-item">
            <div class="product-image">
              <img src="assets/images/product/7.jpg" alt="">
              <div class="tag">
                <i><img src="assets/images/product/tag.svg" alt=""></i>
                <span>20% off at checkout</span>
              </div>
              <a class="heart" href="shop.html"><i class="fi flaticon-heart"></i></a>
              <div class="link">
                <a href="#"
                  ><i><img src="assets/images/product/link.svg" alt=""></i>see similar</a
                >
              </div>
            </div>
            <div class="product-text">
              <div class="color-name">
                <div>
                  <input type="radio" name="color" id="001" class="aggree color1" checked>
                  <span style="margin:5px"></span>
                  <input type="radio" name="color" class="aggree color2">
                  <span style="margin:5px"> </span>
                </div>
              </div>
              <h4><a href="product-single.html">Alejandra</a></h4>
              <ul class="product-text-sub">
                <li>One Shoulder Satin Maxi Dress - Red</li>
                <li class="price">$200.00</li>
              </ul>
              <ul class="rating">
                <li>
                  <div
                    class="Stars"
                    style="--rating: 4.5;"
                    aria-label="Rating of this product is 2.3 out of 5."
                  ></div>
                </li>
                <li>24 Reviews</li>
              </ul>
              <div class="shop-filter-item size">
                <div class="size-item">
                  <div class="button-group">
                    <input type="radio" id="b1" name="size" class="size1" value="1">
                    <label class="size-btn" for="b1">xxs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b2" name="size" class="size1" value="1">
                    <label class="size-btn" for="b2">Xs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b3" name="size" class="size1" value="1">
                    <label class="size-btn" for="b3">X</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b4" name="size" class="size1" value="1">
                    <label class="size-btn" for="b4">M</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b5" name="size" class="size1" value="1">
                    <label class="size-btn" for="b5">L</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b6" name="size" class="size1" value="1">
                    <label class="size-btn" for="b6">XL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b7" name="size" class="size1" value="1">
                    <label class="size-btn" for="b7">XXL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b8" name="size" class="size1" value="1">
                    <label class="size-btn" for="b8">3XL</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="product-item">
            <div class="product-image">
              <img src="assets/images/product/5.jpg" alt="">
              <div class="tag">
                <i><img src="assets/images/product/tag.svg" alt=""></i>
                <span>20% off at checkout</span>
              </div>
              <a class="heart" href="shop.html"><i class="fi flaticon-heart"></i></a>
              <div class="link">
                <a href="#"
                  ><i><img src="assets/images/product/link.svg" alt=""></i>see similar</a
                >
              </div>
            </div>
            <div class="product-text">
              <div class="color-name">
                <div>
                  <input type="radio" name="color" id="001" class="aggree color1" checked>
                  <span style="margin:5px"></span>
                  <input type="radio" name="color" class="aggree color2">
                  <span style="margin:5px"> </span>
                </div>
              </div>
              <h4><a href="product-single.html">Alejandra</a></h4>
              <ul class="product-text-sub">
                <li>One Shoulder Satin Maxi Dress - Red</li>
                <li class="price">$200.00</li>
              </ul>
              <ul class="rating">
                <li>
                  <div
                    class="Stars"
                    style="--rating: 4.5;"
                    aria-label="Rating of this product is 2.3 out of 5."
                  ></div>
                </li>
                <li>24 Reviews</li>
              </ul>
              <div class="shop-filter-item size">
                <div class="size-item">
                  <div class="button-group">
                    <input type="radio" id="b1" name="size" class="size1" value="1">
                    <label class="size-btn" for="b1">xxs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b2" name="size" class="size1" value="1">
                    <label class="size-btn" for="b2">Xs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b3" name="size" class="size1" value="1">
                    <label class="size-btn" for="b3">X</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b4" name="size" class="size1" value="1">
                    <label class="size-btn" for="b4">M</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b5" name="size" class="size1" value="1">
                    <label class="size-btn" for="b5">L</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b6" name="size" class="size1" value="1">
                    <label class="size-btn" for="b6">XL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b7" name="size" class="size1" value="1">
                    <label class="size-btn" for="b7">XXL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b8" name="size" class="size1" value="1">
                    <label class="size-btn" for="b8">3XL</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="product-item">
            <div class="product-image">
              <img src="assets/images/product/6.jpg" alt="">
              <div class="tag">
                <i><img src="assets/images/product/tag.svg" alt=""></i>
                <span>20% off at checkout</span>
              </div>
              <a class="heart" href="shop.html"><i class="fi flaticon-heart"></i></a>
              <div class="link">
                <a href="#"
                  ><i><img src="assets/images/product/link.svg" alt=""></i>see similar</a
                >
              </div>
            </div>
            <div class="product-text">
              <div class="color-name">
                <div>
                  <input type="radio" name="color" id="001" class="aggree color1" checked>
                  <span style="margin:5px"></span>
                  <input type="radio" name="color" class="aggree color2">
                  <span style="margin:5px"> </span>
                </div>
              </div>
              <h4><a href="product-single.html">Alejandra</a></h4>
              <ul class="product-text-sub">
                <li>One Shoulder Satin Maxi Dress - Red</li>
                <li class="price">$200.00</li>
              </ul>
              <ul class="rating">
                <li>
                  <div
                    class="Stars"
                    style="--rating: 4.5;"
                    aria-label="Rating of this product is 2.3 out of 5."
                  ></div>
                </li>
                <li>24 Reviews</li>
              </ul>
              <div class="shop-filter-item size">
                <div class="size-item">
                  <div class="button-group">
                    <input type="radio" id="b1" name="size" class="size1" value="1">
                    <label class="size-btn" for="b1">xxs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b2" name="size" class="size1" value="1">
                    <label class="size-btn" for="b2">Xs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b3" name="size" class="size1" value="1">
                    <label class="size-btn" for="b3">X</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b4" name="size" class="size1" value="1">
                    <label class="size-btn" for="b4">M</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b5" name="size" class="size1" value="1">
                    <label class="size-btn" for="b5">L</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b6" name="size" class="size1" value="1">
                    <label class="size-btn" for="b6">XL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b7" name="size" class="size1" value="1">
                    <label class="size-btn" for="b7">XXL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b8" name="size" class="size1" value="1">
                    <label class="size-btn" for="b8">3XL</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="product-item offer-banner s4">
            <h2>10% <span>OFF!</span></h2>
            <p>eXTRA 10% OFF TODAY! Automatically applied at checkout. This is only for you.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="product-item">
            <div class="product-image">
              <img src="assets/images/product/9.jpg" alt="">
              <div class="tag">
                <i><img src="assets/images/product/tag.svg" alt=""></i>
                <span>20% off at checkout</span>
              </div>
              <a class="heart" href="shop.html"><i class="fi flaticon-heart"></i></a>
              <div class="link">
                <a href="#"
                  ><i><img src="assets/images/product/link.svg" alt=""></i>see similar</a
                >
              </div>
              <div class="link">
                <a href="#"
                  ><i><img src="assets/images/product/link.svg" alt=""></i>see similar</a
                >
              </div>
            </div>
            <div class="product-text">
              <div class="color-name">
                <div>
                  <input type="radio" name="color" id="001" class="aggree color1" checked>
                  <span style="margin:5px"></span>
                  <input type="radio" name="color" class="aggree color2">
                  <span style="margin:5px"> </span>
                </div>
              </div>
              <h4><a href="product-single.html">Alejandra</a></h4>
              <ul class="product-text-sub">
                <li>One Shoulder Satin Maxi Dress - Red</li>
                <li class="price">$200.00</li>
              </ul>
              <ul class="rating">
                <li>
                  <div
                    class="Stars"
                    style="--rating: 4.5;"
                    aria-label="Rating of this product is 2.3 out of 5."
                  ></div>
                </li>
                <li>24 Reviews</li>
              </ul>
              <div class="shop-filter-item size">
                <div class="size-item">
                  <div class="button-group">
                    <input type="radio" id="1" name="size" class="size1" value="1">
                    <label class="size-btn" for="1">xxs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="2" name="size" class="size1" value="1">
                    <label class="size-btn" for="2">Xs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="3" name="size" class="size1" value="1">
                    <label class="size-btn" for="3">X</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="4" name="size" class="size1" value="1">
                    <label class="size-btn" for="4">M</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="5" name="size" class="size1" value="1">
                    <label class="size-btn" for="5">L</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="6" name="size" class="size1" value="1">
                    <label class="size-btn" for="6">XL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="7" name="size" class="size1" value="1">
                    <label class="size-btn" for="7">XXL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="8" name="size" class="size1" value="1">
                    <label class="size-btn" for="8">3XL</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="product-item">
            <div class="product-image">
              <img src="assets/images/product/7.jpg" alt="">
              <div class="tag">
                <i><img src="assets/images/product/tag.svg" alt=""></i>
                <span>20% off at checkout</span>
              </div>
              <a class="heart" href="shop.html"><i class="fi flaticon-heart"></i></a>
              <div class="link">
                <a href="#"
                  ><i><img src="assets/images/product/link.svg" alt=""></i>see similar</a
                >
              </div>
              <div class="link">
                <a href="#"
                  ><i><img src="assets/images/product/link.svg" alt=""></i>see similar</a
                >
              </div>
            </div>
            <div class="product-text">
              <div class="color-name">
                <div>
                  <input type="radio" name="color" id="001" class="aggree color1" checked>
                  <span style="margin:5px"></span>
                  <input type="radio" name="color" class="aggree color2">
                  <span style="margin:5px"> </span>
                </div>
              </div>
              <h4><a href="product-single.html">Alejandra</a></h4>
              <ul class="product-text-sub">
                <li>One Shoulder Satin Maxi Dress - Red</li>
                <li class="price">$200.00</li>
              </ul>
              <ul class="rating">
                <li>
                  <div
                    class="Stars"
                    style="--rating: 4.5;"
                    aria-label="Rating of this product is 2.3 out of 5."
                  ></div>
                </li>
                <li>24 Reviews</li>
              </ul>
              <div class="shop-filter-item size">
                <div class="size-item">
                  <div class="button-group">
                    <input type="radio" id="1" name="size" class="size1" value="1">
                    <label class="size-btn" for="1">xxs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="2" name="size" class="size1" value="1">
                    <label class="size-btn" for="2">Xs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="3" name="size" class="size1" value="1">
                    <label class="size-btn" for="3">X</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="4" name="size" class="size1" value="1">
                    <label class="size-btn" for="4">M</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="5" name="size" class="size1" value="1">
                    <label class="size-btn" for="5">L</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="6" name="size" class="size1" value="1">
                    <label class="size-btn" for="6">XL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="7" name="size" class="size1" value="1">
                    <label class="size-btn" for="7">XXL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="8" name="size" class="size1" value="1">
                    <label class="size-btn" for="8">3XL</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="product-item">
            <div class="product-image">
              <img src="assets/images/product/2.jpg" alt="">
              <div class="tag">
                <i><img src="assets/images/product/tag.svg" alt=""></i>
                <span>20% off at checkout</span>
              </div>
              <a class="heart" href="shop.html"><i class="fi flaticon-heart"></i></a>
              <div class="link">
                <a href="#"
                  ><i><img src="assets/images/product/link.svg" alt=""></i>see similar</a
                >
              </div>
            </div>
            <div class="product-text">
              <div class="color-name">
                <div>
                  <input type="radio" name="color" id="001" class="aggree color1" checked>
                  <span style="margin:5px"></span>
                  <input type="radio" name="color" class="aggree color2">
                  <span style="margin:5px"> </span>
                </div>
              </div>
              <h4><a href="product-single.html">Alejandra</a></h4>
              <ul class="product-text-sub">
                <li>One Shoulder Satin Maxi Dress - Red</li>
                <li class="price">$200.00</li>
              </ul>
              <ul class="rating">
                <li>
                  <div
                    class="Stars"
                    style="--rating: 4.5;"
                    aria-label="Rating of this product is 2.3 out of 5."
                  ></div>
                </li>
                <li>24 Reviews</li>
              </ul>
              <div class="shop-filter-item size">
                <div class="size-item">
                  <div class="button-group">
                    <input type="radio" id="a1" name="size" class="size1" value="1">
                    <label class="size-btn" for="a1">xxs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="a2" name="size" class="size1" value="1">
                    <label class="size-btn" for="a2">Xs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="a3" name="size" class="size1" value="1">
                    <label class="size-btn" for="a3">X</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="a4" name="size" class="size1" value="1">
                    <label class="size-btn" for="a4">M</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="a5" name="size" class="size1" value="1">
                    <label class="size-btn" for="a5">L</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="a6" name="size" class="size1" value="1">
                    <label class="size-btn" for="a6">XL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="a7" name="size" class="size1" value="1">
                    <label class="size-btn" for="a7">XXL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="a8" name="size" class="size1" value="1">
                    <label class="size-btn" for="a8">3XL</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="product-item">
            <div class="product-image">
              <img src="assets/images/product/3.jpg" alt="">
              <div class="tag">
                <i><img src="assets/images/product/tag.svg" alt=""></i>
                <span>20% off at checkout</span>
              </div>
              <a class="heart" href="shop.html"><i class="fi flaticon-heart"></i></a>
              <div class="link">
                <a href="#"
                  ><i><img src="assets/images/product/link.svg" alt=""></i>see similar</a
                >
              </div>
            </div>
            <div class="product-text">
              <div class="color-name">
                <div>
                  <input type="radio" name="color" id="001" class="aggree color1" checked>
                  <span style="margin:5px"></span>
                  <input type="radio" name="color" class="aggree color2">
                  <span style="margin:5px"> </span>
                </div>
              </div>
              <h4><a href="product-single.html">Alejandra</a></h4>
              <ul class="product-text-sub">
                <li>One Shoulder Satin Maxi Dress - Red</li>
                <li class="price">$200.00</li>
              </ul>
              <ul class="rating">
                <li>
                  <div
                    class="Stars"
                    style="--rating: 4.5;"
                    aria-label="Rating of this product is 2.3 out of 5."
                  ></div>
                </li>
                <li>24 Reviews</li>
              </ul>
              <div class="shop-filter-item size">
                <div class="size-item">
                  <div class="button-group">
                    <input type="radio" id="b1" name="size" class="size1" value="1">
                    <label class="size-btn" for="b1">xxs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b2" name="size" class="size1" value="1">
                    <label class="size-btn" for="b2">Xs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b3" name="size" class="size1" value="1">
                    <label class="size-btn" for="b3">X</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b4" name="size" class="size1" value="1">
                    <label class="size-btn" for="b4">M</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b5" name="size" class="size1" value="1">
                    <label class="size-btn" for="b5">L</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b6" name="size" class="size1" value="1">
                    <label class="size-btn" for="b6">XL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b7" name="size" class="size1" value="1">
                    <label class="size-btn" for="b7">XXL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b8" name="size" class="size1" value="1">
                    <label class="size-btn" for="b8">3XL</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="product-item">
            <div class="product-image">
              <img src="assets/images/product/7.jpg" alt="">
              <div class="tag">
                <i><img src="assets/images/product/tag.svg" alt=""></i>
                <span>20% off at checkout</span>
              </div>
              <a class="heart" href="shop.html"><i class="fi flaticon-heart"></i></a>
              <div class="link">
                <a href="#"
                  ><i><img src="assets/images/product/link.svg" alt=""></i>see similar</a
                >
              </div>
              <div class="link">
                <a href="#"
                  ><i><img src="assets/images/product/link.svg" alt=""></i>see similar</a
                >
              </div>
            </div>
            <div class="product-text">
              <div class="color-name">
                <div>
                  <input type="radio" name="color" id="001" class="aggree color1" checked>
                  <span style="margin:5px"></span>
                  <input type="radio" name="color" class="aggree color2">
                  <span style="margin:5px"> </span>
                </div>
              </div>
              <h4><a href="product-single.html">Alejandra</a></h4>
              <ul class="product-text-sub">
                <li>One Shoulder Satin Maxi Dress - Red</li>
                <li class="price">$200.00</li>
              </ul>
              <ul class="rating">
                <li>
                  <div
                    class="Stars"
                    style="--rating: 4.5;"
                    aria-label="Rating of this product is 2.3 out of 5."
                  ></div>
                </li>
                <li>24 Reviews</li>
              </ul>
              <div class="shop-filter-item size">
                <div class="size-item">
                  <div class="button-group">
                    <input type="radio" id="1" name="size" class="size1" value="1">
                    <label class="size-btn" for="1">xxs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="2" name="size" class="size1" value="1">
                    <label class="size-btn" for="2">Xs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="3" name="size" class="size1" value="1">
                    <label class="size-btn" for="3">X</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="4" name="size" class="size1" value="1">
                    <label class="size-btn" for="4">M</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="5" name="size" class="size1" value="1">
                    <label class="size-btn" for="5">L</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="6" name="size" class="size1" value="1">
                    <label class="size-btn" for="6">XL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="7" name="size" class="size1" value="1">
                    <label class="size-btn" for="7">XXL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="8" name="size" class="size1" value="1">
                    <label class="size-btn" for="8">3XL</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="product-item">
            <div class="product-image">
              <img src="assets/images/product/9.jpg" alt="">
              <div class="tag">
                <i><img src="assets/images/product/tag.svg" alt=""></i>
                <span>20% off at checkout</span>
              </div>
              <a class="heart" href="shop.html"><i class="fi flaticon-heart"></i></a>
              <div class="link">
                <a href="#"
                  ><i><img src="assets/images/product/link.svg" alt=""></i>see similar</a
                >
              </div>
              <div class="link">
                <a href="#"
                  ><i><img src="assets/images/product/link.svg" alt=""></i>see similar</a
                >
              </div>
            </div>
            <div class="product-text">
              <div class="color-name">
                <div>
                  <input type="radio" name="color" id="001" class="aggree color1" checked>
                  <span style="margin:5px"></span>
                  <input type="radio" name="color" class="aggree color2">
                  <span style="margin:5px"> </span>
                </div>
              </div>
              <h4><a href="product-single.html">Alejandra</a></h4>
              <ul class="product-text-sub">
                <li>One Shoulder Satin Maxi Dress - Red</li>
                <li class="price">$200.00</li>
              </ul>
              <ul class="rating">
                <li>
                  <div
                    class="Stars"
                    style="--rating: 4.5;"
                    aria-label="Rating of this product is 2.3 out of 5."
                  ></div>
                </li>
                <li>24 Reviews</li>
              </ul>
              <div class="shop-filter-item size">
                <div class="size-item">
                  <div class="button-group">
                    <input type="radio" id="1" name="size" class="size1" value="1">
                    <label class="size-btn" for="1">xxs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="2" name="size" class="size1" value="1">
                    <label class="size-btn" for="2">Xs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="3" name="size" class="size1" value="1">
                    <label class="size-btn" for="3">X</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="4" name="size" class="size1" value="1">
                    <label class="size-btn" for="4">M</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="5" name="size" class="size1" value="1">
                    <label class="size-btn" for="5">L</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="6" name="size" class="size1" value="1">
                    <label class="size-btn" for="6">XL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="7" name="size" class="size1" value="1">
                    <label class="size-btn" for="7">XXL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="8" name="size" class="size1" value="1">
                    <label class="size-btn" for="8">3XL</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="product-item">
            <div class="product-image">
              <img src="assets/images/product/8.jpg" alt="">
              <div class="tag">
                <i><img src="assets/images/product/tag.svg" alt=""></i>
                <span>20% off at checkout</span>
              </div>
              <a class="heart" href="shop.html"><i class="fi flaticon-heart"></i></a>
              <div class="link">
                <a href="#"
                  ><i><img src="assets/images/product/link.svg" alt=""></i>see similar</a
                >
              </div>
            </div>
            <div class="product-text">
              <div class="color-name">
                <div>
                  <input type="radio" name="color" id="001" class="aggree color1" checked>
                  <span style="margin:5px"></span>
                  <input type="radio" name="color" class="aggree color2">
                  <span style="margin:5px"> </span>
                </div>
              </div>
              <h4><a href="product-single.html">Alejandra</a></h4>
              <ul class="product-text-sub">
                <li>One Shoulder Satin Maxi Dress - Red</li>
                <li class="price">$200.00</li>
              </ul>
              <ul class="rating">
                <li>
                  <div
                    class="Stars"
                    style="--rating: 4.5;"
                    aria-label="Rating of this product is 2.3 out of 5."
                  ></div>
                </li>
                <li>24 Reviews</li>
              </ul>
              <div class="shop-filter-item size">
                <div class="size-item">
                  <div class="button-group">
                    <input type="radio" id="a1" name="size" class="size1" value="1">
                    <label class="size-btn" for="a1">xxs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="a2" name="size" class="size1" value="1">
                    <label class="size-btn" for="a2">Xs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="a3" name="size" class="size1" value="1">
                    <label class="size-btn" for="a3">X</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="a4" name="size" class="size1" value="1">
                    <label class="size-btn" for="a4">M</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="a5" name="size" class="size1" value="1">
                    <label class="size-btn" for="a5">L</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="a6" name="size" class="size1" value="1">
                    <label class="size-btn" for="a6">XL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="a7" name="size" class="size1" value="1">
                    <label class="size-btn" for="a7">XXL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="a8" name="size" class="size1" value="1">
                    <label class="size-btn" for="a8">3XL</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="product-item">
            <div class="product-image">
              <img src="assets/images/product/6.jpg" alt="">
              <div class="tag">
                <i><img src="assets/images/product/tag.svg" alt=""></i>
                <span>20% off at checkout</span>
              </div>
              <a class="heart" href="shop.html"><i class="fi flaticon-heart"></i></a>
              <div class="link">
                <a href="#"
                  ><i><img src="assets/images/product/link.svg" alt=""></i>see similar</a
                >
              </div>
            </div>
            <div class="product-text">
              <div class="color-name">
                <div>
                  <input type="radio" name="color" id="001" class="aggree color1" checked>
                  <span style="margin:5px"></span>
                  <input type="radio" name="color" class="aggree color2">
                  <span style="margin:5px"> </span>
                </div>
              </div>
              <h4><a href="product-single.html">Alejandra</a></h4>
              <ul class="product-text-sub">
                <li>One Shoulder Satin Maxi Dress - Red</li>
                <li class="price">$200.00</li>
              </ul>
              <ul class="rating">
                <li>
                  <div
                    class="Stars"
                    style="--rating: 4.5;"
                    aria-label="Rating of this product is 2.3 out of 5."
                  ></div>
                </li>
                <li>24 Reviews</li>
              </ul>
              <div class="shop-filter-item size">
                <div class="size-item">
                  <div class="button-group">
                    <input type="radio" id="b1" name="size" class="size1" value="1">
                    <label class="size-btn" for="b1">xxs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b2" name="size" class="size1" value="1">
                    <label class="size-btn" for="b2">Xs</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b3" name="size" class="size1" value="1">
                    <label class="size-btn" for="b3">X</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b4" name="size" class="size1" value="1">
                    <label class="size-btn" for="b4">M</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b5" name="size" class="size1" value="1">
                    <label class="size-btn" for="b5">L</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b6" name="size" class="size1" value="1">
                    <label class="size-btn" for="b6">XL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b7" name="size" class="size1" value="1">
                    <label class="size-btn" for="b7">XXL</label>
                  </div>
                  <div class="button-group">
                    <input type="radio" id="b8" name="size" class="size1" value="1">
                    <label class="size-btn" for="b8">3XL</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pagination-wrapper">
        <ul class="pg-pagination">
          <li>
            <a href="#" aria-label="Previous"> <i class="fi ti-angle-left"></i> Prev </a>
          </li>
          <li><a href="#">1</a></li>
          <li class="active"><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">...</a></li>
          <li><a href="#">8</a></li>
          <li>
            <a href="#" aria-label="Next"> Next <i class="fi ti-angle-right"></i> </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- end of product-section -->
