<!-- start of features-section -->
<section class="features-section section-padding pt-0">
  <div class="container">
    <div class="features-wrap">
      <div class="row">
        {% for block in section.blocks %}
          <div class="col-lg-3 col-sm-6 col-12">
            <div class="features-text">
              <i
                ><img
                  src="{{ block.settings.service_image |  image_url: width: 300 }}"
                  alt=""
                  width=""
                  height=""
                  loading="eager"
              ></i>
              <h2>{{ block.settings.service_title }}</h2>
              <p>{{ block.settings.service_description }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- end of product-section -->

{% schema %}
{
  "name": "Service Section",
  "settings": [],
  "blocks": [
    {
      "name": "Service Item",
      "type": "slider",
      "settings": [
        {
          "type": "image_picker",
          "id": "service_image",
          "label": "Service Image"
        },
        {
          "type": "text",
          "id": "service_title",
          "label": "Service Title",
          "default": "FREE DELIVERY"
        },
        {
          "type": "text",
          "id": "service_description",
          "label": "Service Description",
          "default": "For orders over $60"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Service Section",
      "blocks": [
        {
          "type": "slider"
        }
      ]
    }
  ]
}
{% endschema %}
